body {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button {
  border: none;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

.base-btn {
  color: #fff;
  background-color: #19b5fe;
  border-radius: 40px;
  transition: all 0.3s ease-out;
}
.base-btn:hover {
  background-color: #1d8abc;
}

.title {
  font-size: 36px;
  text-align: center;
}

.title--decorator:after {
  content: '';
  display: block;
  height: 1px;
  margin: 30px auto;
  background-color: #19b5fe;
  max-width: 375px;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  font-size: 14px;
  color: #464646;
  padding: 26px 34px;
  max-width: 290px;
}

.tooltip .tooltip-inner {
  background-color: #fff;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-top .arrow::before {
  border-width: 0 20px 20px;
  transform: translateX(-12px);
  border-bottom-color: #fff !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-width: 20px 20px 0 20px;
  transform: translateX(-12px);
  border-top-color: #fff !important;
}

.bs-tooltip-bottom .arrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-color: transparent;
  border-style: solid;
}

.container {
  padding: 0 20px;
  margin: 0;
  max-width: 100%;
}

.header {
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}
.header__arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0;
}
.header-logo__title {
  margin-right: auto;
  margin-left: 11px;
}
.header-phone {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 60px;
}
.header-phone__img {
  height: 60px;
  margin-right: 13px;
}
.header-phone__text2 {
  font-weight: 800;
  font-size: 21px;
}
@media (max-width: 768px) {
  .header-phone {
    display: none;
  }
}
.header-burger {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.header-burger__menu {
  width: 100%;
  height: 22px;
  position: relative;
}
.header-burger__title {
  display: block;
  transition: all 0.3s ease-out;
}
.header-burger__menu span, .header-burger__menu:before, .header-burger__menu:after {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.header-burger__menu span {
  top: 9px;
}
.header-burger__menu:before {
  content: '';
  top: 2px;
}
.header-burger__menu:after {
  content: '';
  bottom: 2px;
}
.header-burger.active .header-burger__menu:before {
  transform: rotate(45deg);
  top: 15px;
}
.header-burger.active .header-burger__menu:after {
  transform: rotate(-45deg);
  bottom: 5px;
}
.header-burger.active .header-burger__menu span, .header-burger.active .header-burger__title {
  transform: scale(0);
}
.header-menu {
  position: absolute;
  right: -321px;
  max-width: 321px;
  top: 100px;
}
.header-menu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #19b5fe;
}
.header-menu a:hover {
  color: #fff;
  background-color: #1d8abc;
}
.header-bottom {
  padding-top: 34px;
  padding-bottom: 70px;
  text-align: center;
}
.header__title {
  font-size: 48px;
  margin-bottom: 17px;
}
.header__subtitle {
  font-size: 36px;
}
@media (max-width: 425px) {
  .header__title {
    font-size: 36px;
  }
  .header__subtitle {
    font-size: 24px;
  }
}
.header__text {
  font-size: 22px;
  margin: 45px 0;
}
.header-form {
  max-width: 954px;
  margin: 0 auto 23px auto;
  position: relative;
}
.header-form-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}
.header-form-first-row:before, .header-form-first-row:after {
  content: '';
  height: 1px;
  background-color: #807876;
  width: 100%;
  margin-top: -1px;
}
@media (max-width: 883px) {
  .header-form-first-row:before, .header-form-first-row:after {
    align-self: flex-start;
    margin-top: 30px;
  }
}
.header-form-second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-form-second-row:before, .header-form-second-row:after {
  content: '';
  height: 1px;
  background-color: #807876;
  width: 100%;
  margin-top: 3px;
}
.header-form-inputs {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
.header-form form {
  position: relative;
}
.header-form input {
  padding: 18px 27px;
  border-radius: 50px;
  max-width: 290px;
  color: #606060;
  border: none;
}
.header-form input + input {
  margin-left: 9px;
}
.header-form button {
  margin: 0 10px;
  font-size: 16px;
  padding: 20px 50px;
  min-width: 232px;
}
.header-form:before {
  position: absolute;
  border-left: 1px solid #807876;
  border-right: 1px solid #807876;
  content: '';
  left: 0;
  top: 30px;
  right: 0;
  bottom: 30px;
}
@media (max-width: 883px) {
  .header-form-inputs {
    flex-wrap: wrap;
  }
  .header-form input + input {
    margin-left: 0;
    margin-top: 10px;
  }
}

.services {
  padding: 60px 0;
}
.services .title {
  color: #363636;
}
.services-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.services-textblock + .services-image, .services-image + .services-textblock {
  margin-left: 30px;
}
.services__title {
  color: #19b5fe;
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
}
.services__text {
  margin-top: 13px;
  line-height: 24px;
  text-align: justify;
}
.services-btn {
  margin-top: 29px;
  padding: 15px 36px;
  font-size: 16px;
}
.services-textblock {
  max-width: 560px;
  margin-bottom: 20px;
}
.services-image img {
  max-width: 100%;
}
@media (max-width: 1185px) {
  .services-textblock + .services-image, .services-image + .services-textblock {
    margin-left: 0;
  }
  .services-textblock {
    order: 2;
  }
  .services-image {
    order: 1;
  }
  .services-btn {
    margin-top: 5px;
  }
}

.calculator {
  background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url("../img/calculator/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 63px;
  padding-bottom: 55px;
  color: #fff;
}
.calculator .title--decorator:after {
  background-color: #fff;
  margin: 28px auto 25px auto;
}
.calculator__text {
  font-size: 26px;
  text-align: center;
  margin-bottom: 37px;
}
.calculator-square, .calculator-package {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 21px 23px;
}
.calculator__title {
  font-size: 20px;
  font-weight: 600;
}
.calculator-square {
  margin-bottom: 8px;
}
.calculator-package {
  position: relative;
}
.calculator-package-items {
  display: flex;
  justify-content: space-between;
}
.calculator-package__item {
  flex-basis: 33%;
}
.calculator-package__item + .calculator-package__item {
  margin-left: 10px;
}
.calculator-package input[type=radio] {
  display: none;
}
.calculator-package input[type=radio]:checked + label {
  background: #19b5fe;
  color: #fff;
  border: 1px solid #19b5fe;
}
.calculator-package label {
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 45px;
  user-select: none;
  margin: 0;
  width: 100%;
  text-align: center;
}
.calculator-package label:hover {
  border: 1px solid #19b5fe;
}
.calculator-data {
  font-size: 14px;
  text-align: center;
}
.calculator-item {
  font-size: 16px;
}
.calculator-item__number {
  font-size: 32px;
  margin-bottom: 20px;
}
.calculator__btn {
  padding: 19px 32px;
  margin-bottom: 24px;
}
.calculator__phone {
  font-size: 18px;
}
.calculator .range {
  cursor: pointer;
  position: relative;
  margin-top: 45px;
}
.calculator .range:before {
  position: absolute;
  content: '';
  width: 100%;
  top: 4px;
  left: 0;
  height: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.calculator .range__point {
  position: relative;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
}
.calculator .range__point:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.calculator .range__point.active {
  background: #19b5fe;
}
.calculator .range__point div {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 85px;
  transform: translateX(-50%);
  text-align: center;
  user-select: none;
}
@media (max-width: 933px) {
  .calculator .range__point div {
    top: -17px;
    font-size: 10px;
  }
}
.calculator .range__point:first-child div {
  left: 0;
  transform: translateX(0);
  text-align: left;
}
.calculator .range__point:last-child div {
  left: auto;
  transform: translateX(0);
  right: 0;
  text-align: right;
}

.portfolio {
  padding: 50px 0;
  text-align: center;
}
.portfolio .title--decorator:after {
  margin: 23px auto 25px auto;
}
.portfolio-buttons {
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  position: relative;
  border-radius: 50px;
  margin-bottom: 23px;
}
.portfolio-buttons button + button {
  margin-left: -4px;
}
.portfolio-buttons button {
  padding: 20px 40px;
  color: #19b5fe;
  background-color: #fff;
  text-transform: uppercase;
  position: relative;
  border-top: 1px solid #19b5fe;
  border-bottom: 1px solid #19b5fe;
}
.portfolio-buttons button:hover {
  color: #1d8abc;
}
.portfolio-buttons button.active {
  color: #fff;
  background-color: #19b5fe;
  border-radius: 7px;
  padding: 23px 43px;
}
.portfolio-buttons button:after {
  position: absolute;
  content: '';
  width: 1px;
  top: 4px;
  bottom: 4px;
  right: 0;
  background-color: #19b5fe;
}
.portfolio-buttons button:first-child {
  position: static;
  border-left: 1px solid #19b5fe;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.portfolio-buttons button:last-child {
  position: static;
  border-right: 1px solid #19b5fe;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@media (max-width: 885px) {
  .portfolio-buttons {
    display: block;
    border: 1px solid #19b5fe;
  }
  .portfolio-buttons button + button {
    margin-left: 0;
  }
  .portfolio-buttons button {
    width: 100%;
    border: none;
    border-bottom: 1px solid #19b5fe;
  }
  .portfolio-buttons button.active {
    border-radius: 0;
  }
  .portfolio-buttons button:after {
    width: 0;
  }
  .portfolio-buttons button:first-child {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50px;
  }
  .portfolio-buttons button:last-child {
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom: none;
  }
}
.portfolio-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-images img {
  margin-right: 30px;
  margin-bottom: 30px;
  display: none;
  max-width: 360px;
}
.portfolio-images img:nth-child(3n+3) {
  margin-right: 0;
}
.portfolio-images img[data-tab="ext"] {
  display: inline-block;
}
@media (max-width: 1180px) {
  .portfolio-images img:nth-child(3n+3) {
    margin-right: 30px;
  }
  .portfolio-images img:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (max-width: 790px) {
  .portfolio-images img {
    width: 100%;
  }
  .portfolio-images img, .portfolio-images img:nth-child(3n+3) {
    margin-right: 0;
  }
}

.advantages {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #f5f9fa;
  font-size: 14px;
  font-weight: 600;
  color: #3f3f3f;
  text-align: center;
}
.advantages .title--decorator:after {
  margin-top: 20px;
  margin-bottom: 30px;
}
.advantages-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advantages-item {
  max-width: 305px;
  margin-bottom: 30px;
  padding: 0 20px;
}
.advantages-item .title--decorator:after {
  margin-top: 16px;
  margin-bottom: 20px;
  max-width: 125px;
}

.interaction {
  padding: 70px 0;
  color: #464646;
}
.interaction-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
.interaction-step img {
  max-width: 100%;
}
.interaction-step p {
  width: 570px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (max-width: 1180px) {
  .interaction-step img {
    order: 1;
  }
  .interaction-step p {
    order: 2;
  }
}

.companies {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f5f9fa;
}
