@import "_vars.scss";

body {
	font-size: 18px;
	color: #464646;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

input:focus, input:active,
button:focus, button:active,
textarea:focus, textarea:active {
	outline: none;
}

button {
	border: none;
}

ul {
	list-style: none;
}

a {
	color: $blue;
	text-decoration: none;
}

a:hover {
	color: $blue;
}

input, textarea {
	padding: 18px 27px;
	color: #606060;
	border: none;
}

.base-btn {
	display: inline-block;
	color: #fff;
	background-color: $blue;
	border-radius: 40px;
	transition: all 0.3s ease-out;

	&:hover {
		color: #fff;
		background-color: $darkblue;
		text-decoration: none;
	}
}

.title {
	font-size: 36px;
	text-align: center;
	color: #363636;
}

.title--decorator:after {
	content: '';
	display: block;
	height: 1px;
	margin: 30px auto;
	background-color: $blue;
	max-width: 375px;
}
